# Assumed clang-format version: 19
BasedOnStyle: Mozilla
DisableFormat: true
---
Language: Cpp
DisableFormat: false
AccessModifierOffset: -4
AlignEscapedNewlines: DontAlign
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
ColumnLimit: 120
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
IncludeIsMainRegex: '(\.test)?$'
IndentPPDirectives: AfterHash
IndentWidth: 4
PPIndentWidth: 1
