# Assumed clang-tidy version: 19
HeaderFilterRegex: "*"
InheritParentConfig: false
SystemHeaders: false
WarningsAsErrors: "*"
Checks: >
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    cert-*,
    clang-analyzer-*,
    -clang-analyzer-fuchsia*,
    -clang-analyzer-optin.mpi*,
    -clang-analyzer-optin.osx*,
    -clang-analyzer-osx*,
    -clang-analyzer-webkit*,
    concurrency-*,
    cppcoreguidelines-*,
    google-*,
    -google-build-using-namespace,
    -google-objc-*,
    -google-readability-namespace-comments,
    -google-readability-todo,
    hicpp-*,
    misc-*,
    modernize-*,
    -modernize-use-nodiscard,
    performance-*,
    portability-*,
    readability-*,
    -readability-identifier-length,
